// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.logo{
    width: 200px;
}

.bg-dark{
    background-color: #445b97!important;
}

.bg-dark2{
    background-color: #2e55ba;
}
